.bodyStyles {
    font-family: 'EB Garamond';
    font-size: 17px;
}

.navbar-nav{
    justify-content: center;
}

.bodyContent{
    padding-top: 200px;
    /* Height of the navbar */
    padding-bottom: 200px;
    /* Height of the footer */
}

.dropdown-item{
    font-family: 'Audiowide';
    font-size: 12px;

}


.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.line-with-text::before,
.line-with-text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.line-with-text::before {
    margin-right: 10px;
}
.line-with-text::after {
    margin-left: 10px;
}

.banner {
    position: relative;
    text-align: center;
    color: bisque; /* Text color */
}
.banner img {
    width: 100%; /* Ensure image fills the container */
    height: 300px;
    object-fit: cover; /* Maintain aspect ratio */
}



footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer{
    color:white;
    padding: 20px 0;
}

.footer-element{
    padding: 10px;
}

.footer-element a{
    text-decoration: none;
}

.social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: white;
}
