*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing: border-box;
}


.bodyStyles {
    font-family: 'EB Garamond';
    font-size: 17px;
}

.navbar{
    margin-bottom: 0%;
    font-size: 15px;
}

.collapse{
    padding-left: 5%;
}

.bodyContent{
    padding-top: 137px;
    /* Height of the navbar */
    padding-bottom: 180px;
    /* Height of the footer */
}

.navbar-nav .nav-link{
    color:black;
    transition: color 0.3s
    transform-origin: center;
}


.navbar-nav .dropdown-item{
    transform-origin: center;
}

.navbar-nav .nav-link:hover{
    color: blue;
    transform: scale(1.1) translateX(0);
}

.dropdown-toggle:hover{
    color: blue;
    transform: scale(1.1);
}

.navbar-nav .dropdown-item:hover{
    color: blue;
    transform: scale(1.1) translateX(0);
}

.dropdown-item{
    font-family: 'EB Garamond';
    font-size: 15px;

}

.bold-text{
    font-weight: bold;
}


.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.line-with-text::before,
.line-with-text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.line-with-text::before {
    margin-right: 10px;
}
.line-with-text::after {
    margin-left: 10px;
}

.banner {
    width: 100%; /* Ensure image fills the container */
    height: 600px;
    position: relative;

}
.banner img {
    width: 100%; /* Ensure image fills the container */
    height: 100%;
    object-fit: fill; /* Maintain aspect ratio */
}

.aboutUs{
    display: flex;
    align-items: stretch;
}

.aboutUs div{
    padding:20px;
    border-right: 2px solid #000;    
}

.aboutUs div:last-child{
    border-right: none;
}

h4{
    text-align: center;
}

.meetCoach{
    display: flex;
    align-items: center;
    gap: 20px;
}

.meetCoach img{
    width: 500px;
    height: 500px;
}

.meetCoach p{
    margin:0;
}

/* Custom CSS for adjusting carousel display */
.carousel-item {
    display: none;
    transition: transform 0.3s ease;
}

.carousel-item.active{
    display: flex;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    border: 2px solid black;

}


.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}




footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top:100%;
}

.footer{
    color:white;
    padding: 20px 0;
}

.footer-element{
    padding: 10px;
}

.footer-element a{
    text-decoration: none;
}

.social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: white;
}
